
/* Common style */
*{
    margin: 0;
}
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    font-weight:600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;

}
.btn:hover{
    background-color: #FFFFFF;
    color: #30B868;
    border:1px solid #30B868;
}
.btn-2nd{
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 16px;
    font-weight:600;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}
.btn-2nd:hover{
    background-color: #FFFFFF;
    color: #30B868;
    border:1px solid #30B868;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    /* max-width: 1600px;
    margin: 0 auto; */
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px 130px;
}
.nav-section .nav-logo {
    width: 139px;
    height: 60px;
    cursor: pointer;
}
.nav-menu ul{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.hero-section{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-hero{
    background-color: #FFFFFF;
    color: #30B868;
    border:1px solid #30B868;
    padding: 8px 12px;
    font-weight:600;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 16px ;
    

}
.btn-hero:hover{
    background-color: #30B868;
    color: #FFFFFF;
}

.hero h2{
font-size: 72px;
font-weight: bold;
color: rgba(255, 255, 255, 1);
margin-bottom: 16px;
line-height: 82px;
}
.hero h2 .hero-title-color{
    color: rgba(48, 184, 104, 1);
}
.hero p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;

}
.btn-group .btn{
  margin: 0 8px;
}

.Notes-Section{
    max-width: 1360px;
    margin: 0 auto;
}
.Notes-Section .Notes-info{
    margin-top: 75PX;
    text-align: center;
    margin-bottom: 44px;
}
.Notes-Section .Notes-info h2{
    color: #001931;
    font-size: 48px;
    margin-bottom: 16px;
}
.Notes-Section .Notes-info p{
    color: #627382;
}
.Notes-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    

}

.card{
   
    width: 322px;
    height: 300px;
    padding: 0 25PX;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 120px;
}
.card img{
    margin-top: 70px;
    width: 27px;
    height: 30px;
    background:#F95555;
    color: #FFFFFF;
    padding: 12px 15px;
    border-radius: 100%;

}
.card h3{
 color: #001931;
 font-size: 24px;
 font-weight: 600;
 margin: 16px 0;

}
.card p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
}
.brain{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    gap: 60px;
    margin-bottom: 120px;
}
.brain .barin-img img{
    width: 600px;
    height: 600px;
}
.brain-info{
    padding: 102px 200px 102px 0px;
    
}
.brain-info h4{
    color: #469165;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}
.brain-info h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
    
}
.brain-info p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 40px;
}
.brain-info ul li{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: -40px;
}
.Early-Access-Section{
    max-width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 120px;
}
.Early-Access-Section .early-access h2{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 16px;
}
.Early-Access-Section .early-access button{
    margin-bottom: 16px;
}
.Early-Access-Section .early-access p{
    color: #627382;
    font-size: 16px;
    margin-bottom:24px;
}

