
/* Common style */
*{
    margin: 0 auto;
}
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    font-weight:600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn:hover{
    background-color: #FFFFFF;
    color: #30B868;
    border:1px solid #30B868;
}
.btn-2nd{
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 16px;
    font-weight:600;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}
.btn-2nd:hover{
    background-color: #FFFFFF;
    color: #30B868;
    border:1px solid #30B868;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    /* max-width: 1600px;
    margin: 0 auto; */
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px 130px;
}
.nav-section .nav-logo {
    width: 139px;
    height: 60px;
    cursor: pointer;
}
.nav-menu ul{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

.hero-section{
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-hero{
    background-color: #FFFFFF;
    color: #30B868;
    border:1px solid #30B868;
    padding: 8px 12px;
    font-weight:600;
    border-radius: 1000px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 16px ;
  

}
.btn-hero:hover{
    background-color: #30B868;
    color: #FFFFFF;
}

.hero h2{
font-size: 72px;
font-weight: bold;
color: rgba(255, 255, 255, 1);
margin-bottom: 16px;
line-height: 82px;
}
.hero h2 .hero-title-color{
    color: rgba(48, 184, 104, 1);
}
.hero p{
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 32px;

}
.btn-group .btn{
  margin: 0 8px;
}
