
/* Common style */
.btn{
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    font-weight:600;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #FFFFFF;
    color: #30B868;
    border:1px solid #30B868;
}

.nav-section{
    display: flex;
    justify-content: space-between;
    /* max-width: 1600px;
    margin: 0 auto; */
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px 130px;
}
.nav-section .nav-logo {
    width: 139px;
    height: 60px;
    cursor: pointer;
}
.nav-menu ul{
    display: flex;
    gap: 32px;
    align-items: center;
    list-style-type: none;
}
.nav-menu ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}

